.character {
    background-color: rgb(165, 192, 243);
    margin: 10px;
    float: left;
    text-align: center;
}

.picture {
    width:100px;
    height:135px;
}

.player {
    background-color: rgb(101, 135, 245);
    margin: 10px;
    float: left;
    text-align: center;
}

.enemy {
    background-color: rgb(221, 62, 62);
    margin: 10px;
    float: left;
    text-align: center;
}

.opponent {
    background-color: rgb(99, 214, 76);
    margin: 10px;
    float: left;
    text-align: center;
}

.selectedCharacter {
    clear: both;
    margin-left:30%;
}

.enemySelection {
    float: right;
    margin-right: 30%;
}

.attack {
    clear: both;
    margin-left:30%;
}

#attackBtn {
    width:100px;
    height:30px;
}

.selectedopponent {
    clear: both;
    margin-left: 30%;
}

.messages {
    clear: both;
    float:right;
    margin-right:30%;
}

#background-video {
    position: fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#startGameMessage {
    color: white;
    margin:auto;
    text-align: center;
    position: relative;
    font-size: 30px;
    padding-top: 50px;
}

body {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: white;
}

.characterSelection {
    width: 500px;
    margin: auto;
}

.announcement {
    text-align: center;
}