.character {
    background-color: rgb(165, 192, 243);
    margin: 10px;
    float: left;
    text-align: center;
}

.picture {
    height:100px;
}

.player {
    background-color: rgb(101, 135, 245);
    margin: 10px;
    float: left;
    text-align: center;
}

.enemy {
    background-color: rgb(221, 62, 62);
    margin: 10px;
    float: left;
    text-align: center;
}

.oponent {
    background-color: rgb(99, 214, 76);
    margin: 10px;
    float: left;
    text-align: center;
}

.selectedCharacter {
    clear: both;
}

.enemySelection {
    clear: both;
}

.attack {
    clear: both;
}

.defender {
    clear: both;
}

.messages {
    clear: both;
}

